.robofeed-news__detail .wallpapper {height: 400px; width: 100%; margin-bottom: 20px; background-size: cover; background-repeat: no-repeat; display: block;}
.robofeed-news__detail .date {color: #777;}
.robofeed-news__detail img {margin-bottom: 10px; max-width: 100%; width: auto;}