.idea/
.idea/copyright/
.idea/deployment.xml
/upload
/bitrix/wizards
/bitrix/cache
/bitrix/managed_cache
/*.txt
/*.log
/*.xml
/*.zip
/*.log
/robots.txt
/page.php
*.tar.gz*
*.psd
/bitrix/modules/updater_partner.log