.idea/
.idea/copyright/
.idea/deployment.xml
!/bitrix/
/bitrix/*
!/bitrix/components/
/bitrix/components/bitrix/
/bitrix/components/.access.php
!/bitrix/gadgets/
/bitrix/gadgets/bitrix
!/bitrix/templates/
!/bitrix/php_interface/
/bitrix/php_interface/after_connect.php
/bitrix/php_interface/after_connect_d7.php
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/.htaccess
!/bitrix/modules/
/bitrix/modules/*
*.txt
*.log
*.json
*.xml
*.zip
/*.log
/robots.txt
/page.php
*.tar.gz*
*.psd