.inf__drop-area * {
	box-sizing: border-box;
}

.inf__drop-area {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	max-width: 100%;
	border-radius: 3px;
	padding: 0 15px;
	transition: 0.2s;
	margin-bottom: 10px;
	background: var(--gray);
}

.inf__drop-area.is-active {
	background-color: rgba(0, 20, 20, 0.03);
}

input[type="file"] {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

input[type="file"]:focus {
	outline: none;
}

.inf__btn {
	display: inline-block;
	margin-right: 10px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	color: #565656;
}

.inf__hint {
	flex: 1;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}