:root{
    --blue1: #0F2557;
    --blue2: #28559A;
    --blue3: #3778C2;
    --blue4: #4B9FE1;
    --blue5: #63BCE5;
    --blue6: #7ED5EA;
    --darkgray: #222;
}

#panel {position: fixed; top: -135px; -webkit-transition: top .2s ease-out 0s; -moz-transition: top .2s ease-out 0s; -o-transition: top .2s ease-out 0s; transition: top .2s ease-out 0s; z-index: 99999999999999; width: 100%;}
#panel:hover {position: fixed; top: 0px;}

.quick-stats__item .tradingplatform__img {height: 50px; max-width: 100%;}
.quick-stats__item .tradingplatform__title {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}